

{{#each data}}
<div class = "moviediv">
<br>
<h3 data-id='{{id}}'>{{headline}}</h3>
<a href={{link}}>Get Showtimes</a><br>
{{summary}}<br>
<button data-id='{{_id}}' id='savemovie'>Save Movie</button><br>
</div>
{{/each}}

